img {position: absolute;
    left: 300px;
    top:7%;
    transform: rotate(90deg); 
   
}

.text{font-family: minion;
font-size: 7vw;
position: absolute;
left:6%;
margin:1px;
top:8%;
z-index:1;
}

 .blockone{width:30vw;
    font-size: 1.3vw;
font-family:helvetica;
position: absolute;
left: 47%;
top:47%;
float: left;
}   

.blocktwo{width: 30vw;
    font-size: 1.3vw;
    font-family:helvetica;
    left: 82%;
    position: absolute;
    top:47%;
    } 

    .blockthree{width: 30vw;
        font-size: 1.3vw;
        font-family:helvetica;
        left: 118%;
        position: absolute;
        top:47%;
        padding-right: 50px;
        } 
